[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
injector = "*"
parameterized = "*"
plum-dispatch = "*"
uuid = "*"

[dev-packages]

[requires]
python_version = "3.10"
