[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test = "python3 -m unittest"
docs = "cd examples/tic_tac_toe/backend; pipenv docs"

[packages]
injector = "*"
plum-dispatch = "*"
uuid = "*"
pyhamcrest = "*"
pyprctl = "*"

[dev-packages]
parameterized = "*"
pipenv-setup = "*"
vistir = "==0.6.1"
pycco = "*"
watchdog = "*"

[requires]
python_version = "3.10"
